@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* background-color: #ffffff; */
  background-color: #F2F2F2;
  color: #000000;
}

.page-content{
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 #00000033;
}

ul, ol {
  list-style: none;
}

/* buttons */
.button {
  font-family: inherit;
  color:#ffffff;
  background-color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border-color: transparent;
}

.button.button-brown {
  background-color: #756157;
  color:#ffffff;
}

.hotel-assortment-link {
  font-size: 20px;
  line-height: 36px;
}

.button-blue {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

 .button-newsletter {
  font-size: 20px;
  line-height: 36px;
  border-color: transparent;
  border-radius: 0 4px 4px 0;
}

.button-reset {
  background-color: transparent;
 }


/* main-header */

.main-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
}

/* main */
.hero {
  background-image: url("../images/divider.svg"), url("../images/mountains.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #756157;
}

.text-container .big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.text-container p {
  text-align: center;
}

.advantages-item, .reasons-item {
  color: #333333;
  background-color: inherit;
}

.advantages-item:nth-child(2n+1) {
  background-color: #83B3D333;
}

.advantages-item:nth-child(2n) {
  background-color: #83B3D31F;
}

.reasons-item:nth-child(2n+1) {
  background: #83B3D31F;
}

.advantages-title, .reasons-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-description, .reasons-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-image + .advantages-text {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-image + .advantages-text .advantages-title {
  color: #ffffff;
  background-color: #82B3D3;
}


.newsletter {
  text-align: center;
}

 .main-page-newsletter {
  color:#ffffff;
  background-color: #756157;
  background-image: url("../images/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
 }

 .newsletter-title {
  font-size: 30px;
  line-height: 36px;
 }

 .catalog-header {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
  color: #ffffff;
 }

 .catalog-header-title {
  font-size: 60px;
  line-height: 78px;
 }

 .breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
 }

 .catalog-filter-group {
  border: none;
 }

 .catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
 }

 .control-item {
  font-size: 18px;
  line-height: 23px;
 }

.pages-found {
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.hotel-card {
  border: 1px solid #E6E6E6;
}

.hotel-card-link {
  text-decoration: none;
  color:#000000;
  font-size: 24px;
  line-height: 28px;
}

.type-of-housing, .hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.rate-count {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-link {
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: inherit;
  background-color: #F2F2F2;
}


 /* main-footer */
 .social-item a {
  text-decoration: none;
  color: #000000;
 }

 .phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
 }

 .footer-logo {
  text-decoration: none;
  color: #000000;
  background-image: url("../images/logo/logo-htmlacademy.svg");
  background-repeat: no-repeat;
 }
